.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    transition: left 0.5 ease;
}

.sidebarOpen {
    margin-top: 2%;
    left: 0;
    border: 2px solid white;
    border-radius: 20px;
}

.link{
    padding: 0.4%;
    text-decoration: none;
    margin-top: 1%;
    margin-right: 2%;
    color:white;
    font-size: 0.7em;
    font-weight: 400;
    display: flex;
    justify-content: end;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
}