.button {
    border: 3px solid white;
    border-radius: 20px;
    width: 14em;
    height: 3em;
    font-weight: bold;
    background-color: transparent;
    color: white;
    text-align: center;
    width: 100%;
}

.button:hover {
    background-color: white;
    color: black;
    border: black;
}