@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: "Juzif";
  src: url("./assets/fonts/Juzif.ttf");
}

body {
  font-family: "Inter", sans-serif;
}

.frontoffice {
  background-color: black;
  height: fit-content;
  min-height: 100vh;
  color: white;
}

.backoffice {
  background-color: white;
  color: black;
}